.hone{
	color:#FFFFFF;
	padding:5px 80px;
}

body{
	background-color:#EDEDED;
}

#head{
	height: 100px;
	background-color: cornflowerblue;
	margin: 0px;
}

#form1{
	margin: auto;
	margin: 10px 20px 10px 50px;
	font-weight: 200;
	font-size: 25px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

#form2{
	float:right;
	margin: 10px 30px;
	
}
